.header__logo {
  width: 30px;
  height: 35px;
  @media (min-width: 768px) {
    display: none;
  }
}

.header__logo--desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.header {
  position: absolute;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all 0.5s;
  top: 26px;
  @media (min-width: 768px) {
    top: 60px;
  }
}

.header--top {
  top: 10px;
}

.header-inner {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (min-width: 1024px) {
    padding: 0 48px;
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}

.header__nav {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
}

.header__nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: #2a2a31;
  padding: 12px 15px;
  position: relative;
  display: flex;
  align-items: center;
  @media (min-width: 770px) {
    padding: 15.5px 30px;
  }
  @media (max-width: 396px) {
    padding: 10.5px 10px;
    font-size: 12px;
  }
}

.header__nav-link:hover{
  background-color: rgba(238, 238, 238, .6);
}

.header__nav-link--current-page{
  background-color: rgba(238, 238, 238, .6);
}

.header__roles-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: #2a2a31;
  padding: 12px 15px;
  position: relative;
  @media (min-width: 768px) {
    padding: 19.5px 0;
  }
}

.header--bg-is-loading .header__logo,
.header--bg-is-loading .header__logo--desktop {
  opacity: 0;
  pointer-events: none;
}
