.open-roles-page {
  --section-width: calc(70% + 8em);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 767px) {
    --section-width: calc(65% + 5em);
  }
}

.open-roles-page>* {
  width: 100%;
  max-width: var(--section-width);
}