.team-carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: min(200%, 4000px);
  margin-inline: auto;
  padding-top: 24px;
  min-height: 295px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  @media (min-width: 768px) {
    min-height: 728px;
  }
}

.team-carousel--visible {
  opacity: 1;
}

.team-carousel > * + * {
  margin-top: 1rem;
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    transform: translateX(-60%);
    opacity: 0;
  }
  0.5% {
    opacity: 1;
  }
  99.5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
}

.team-carousel__track {
  display: flex;
  align-items: flex-start;
  left: 0;
  width: 400%;
  animation: slide 180s linear infinite;
}

.team-carousel__track:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(255, 255, 255, 0.33)),
    to(rgba(255, 255, 255, 0.87))
  );
  background-image: -webkit-linear-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(255, 255, 255, 0.33)),
    to(rgba(255, 255, 255, 0.87))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0.87) 100%
  );
  background-image: linear-gradient(
    00deg,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0.87) 100%
  );
  z-index: 5;
}

.team-carousel__track > * + * {
  margin-left: 1rem;
}

/* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0

background-image: -webkit-gradient(
  linear,
  left top,
  right top,
  from(red),
  to(#f06d06)
);

Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3

background-image: -webkit-linear-gradient(left, red, #f06d06); */

.team-carousel__track--bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.33)),
    to(rgba(255, 255, 255, 0.87))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0.87) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0.87) 100%
  );
  z-index: 5;
}

.team-carousel__track--bottom .team-carousel__image {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.team-carousel__image {
  width: 191px;
  height: auto;
  border-radius: 5px;
  @media (min-width: 768px) {
    width: 517px;
  }
}
