.open-roles-hero {
  width: 100%;
  max-width: initial !important;
  overflow-x: hidden;
  position: relative;
}

.open-roles-hero__inner {
  background-image: url("./assets/open_roles_hero_bg.png");
  background-position: 50% 105%;
  padding-top: 120px;
  padding-bottom: 40px;
  margin: auto;
  position: relative;
  overflow-y: clip;
  @media (min-width: 768px) {
    max-width: var(--section-width);
    padding: 250px 0 200px 0;
    background-image: none;
    justify-content: center;
  }
}

.open-roles-hero__bg-image {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-46%);
    width: 2200px;
    height: auto;
    z-index: -1;
  }
  @media (min-width: 1000px) {
    transform: translateX(-50%);
  }
}

.open-roles-hero__bg-image-gradient-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, var(--color-off-white), rgba(0, 0, 0, 0));
  z-index: 1;
}

.open-roles-hero__bg-image-gradient-left {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 10%;
  background: linear-gradient(
    to right,
    var(--color-off-white),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
  display: none;
}

.open-roles-hero__bg-image-gradient-right {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 10%;
  background: linear-gradient(
    to left,
    var(--color-off-white),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
  display: none;
}

@media (min-width: 2200px) {
  .open-roles-hero__bg-image-gradient-left,
  .open-roles-hero__bg-image-gradient-right {
    display: block;
  }
}

.open-roles-hero__text-content {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 24px;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    justify-items: start;
  }
}

.open-roles-hero__text-container {
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}

.open-roles-hero__heading {
  font-size: clamp(1.35em, 5.5vw, 2.5em);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
  text-wrap: nowrap;
  @media (min-width: 768px) {
    font-size: clamp(42px, 4.5vw ,48px);
    justify-content: center;
  }
}

.open-roles-hero__heading-br-desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.open-roles-hero__heading-br-mobile {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.open-roles-hero__with-us {
  font-size: 16px;
  font-weight: 400;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.open-roles-hero__paragraph {
  line-height: 1.6;
  font-size: clamp(0.85em, 3vw, 1.5em);
  text-wrap: nowrap;
  @media (min-width: 768px) {
    font-size: clamp(18px, 2.3vw, 20px);
  }
}

.open-roles-hero__p-br {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.open-roles-hero__p-br-mobile {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.open-roles-hero__paragraph--bold {
  font-weight: 600;
}

.open-roles-hero__cta {
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}
