.first-of-kind {
  --heading-size: max(0.6em + 3.25vw, 24px);
  display: grid;
  padding: 20px 0;
  width: 100%;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  margin-bottom: calc(20vw + 2em);
  
  @media (min-width: 768px) {
    place-items: initial;
    --heading-size: max(calc(1.75vw + 0.6em), 2.15em);
    transform: translateX(-4em);
    padding: 80px 0;
    grid-template-columns: 1fr 1fr;
    text-align: initial;
    margin: 5vw 0;
  }
}

.first-of-kind__video-container {
  position: relative;
  opacity: 0;
  width: calc(var(--heading-size) * 15 - 9em);
  height: calc(var(--heading-size) * 15 - 9em);
  animation: fade-in 0.5s ease forwards;
  animation-delay: 0.5s;
}

.first-of-kind__video-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(238, 247, 253, 0) 58.66%,
      #eef7fd 100%);
}

.first-of-kind__video {
  max-width: 100%;
  max-height: 100%;
}

.first-of-kind__heading-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  @media (max-width: 767px) {
    align-items: center;
  }
}

.first-of-kind__heading {
  font-size: var(--heading-size);
  line-height: 1.3;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-bottom: 0.5em;
}

.first-of-kind__paragraph-desktop,
.first-of-kind__paragraph-mobile {
  display: block;
  align-self: flex-start;
  /* padding-bottom: 24px; */
  line-height: 25.6px;
  /* line-height: max(1.4vw, 2em); */
  line-height: 1.75em;
  letter-spacing: -0.02em;
  text-wrap: nowrap;
  margin-bottom: -15vw;
  font-size: calc(max(0.5em + 3.25vw, 22px) * 0.55);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    margin: 0;
    font-size: calc(clamp(40px, 4.65vw, 46px) * 0.43);
  }
}

.first-of-kind__paragraph-desktop {
  display: none;
}

.first-of-kind__paragraph-mobile {
  align-self: center;
  font-size: clamp(0.95em, 3vw, 1.4em);
  margin-top: 1em;
  @media (min-width: 768px) {
    display: none;
  }
}

.first-of-kind__paragraph-desktop_wide-br {
  display: none;
}

.first-of-kind__heading-desktop-br {
  display: none;
}

@media (min-width: 768px) {
  .first-of-kind__paragraph-desktop {
    display: initial;
  }
}

@media(min-width: 975px) {
  .first-of-kind__heading-tablet-br {
    display: none;
  }

  .first-of-kind__heading-desktop-br {
    display: initial
  }

  .first-of-kind__paragraph-desktop_wide-br {
    display: initial;
  }

  .first-of-kind__paragraph-desktop__narrow-br {
    display: none;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}