.company-carousel {
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

.company-carousel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, transparent 60%, white), linear-gradient(to right, transparent 60%, white);
}

.company-carousel-content {
    display: flex;
    max-width: 100%;
    gap: 3em;
    animation: companyCarousel 120s linear infinite;
}

@keyframes companyCarousel {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(-114.3%)
    }
}