.roles-assessment {
  padding-bottom: 40px;
  margin-bottom: 2.5vw;
  @media (min-width: 768px) {
    padding: 80px 0;
  }
  @media (min-width: 1400px) {
    padding: 80px 0;
  }
}

.roles-assessment__inner {
  display: grid;
  grid-template-columns: 4fr 6fr;
  /* gap: 16px; */
  @media (min-width: 768px) {
    grid-template-columns: 5fr 5fr;
  }
}

.roles-assessment__heading-container {
  max-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: max-content;
  /* @media (min-width: 430px) {
    max-width: 190px;
  } */
  /* @media (min-width: 500px) { */
    /* align-items: center; */
  /* } */
  @media (min-width: 1140px) {
    align-items: flex-start;
    max-width: unset;
  }
}

.roles-assessment__heading {
  font-size: 22px;
  font-weight: 600;
  max-width: 167px;
  z-index: 1;
  max-width: max-content;
  font-size: max(calc(3.25vw + 0.5em), 20px);
  text-wrap: nowrap;
  @media (min-width: 768px) {
    text-wrap: initial;
    font-size: 32px;
    font-size: max(calc(25px + 0.9vw), 2.4em);
    max-width: 280px;
  }
  @media (min-width: 1140px) {
    width: 110%;
    max-width: unset;
    padding-bottom: 32px;
    text-wrap: nowrap;
  }
}

.roles-assessment__heading > br {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.roles-assessment__video-container {
  height: 40vw;
  width: max(45vw, 8em);
  overflow: hidden;
  position: relative;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(238, 247, 253, 0) 58.66%,
    #eef7fd 100%
  );
  margin-left: clamp(-55px, calc(70vw - 20em), 20px);
  @media (min-width: 430px) {
    margin-left: calc(28vw - 11em);
  }
  @media (min-width: 768px) {
    margin-left: calc(-30% + 1em);
    max-width: unset;
    height: 400px;
    width: calc(80% + 13em);
  }

  @media (min-width: 1140px) {
    max-width: 100%;
    margin-right: -200px;
    margin-left: 0;
    width: 620px;
  }
  @media (min-width: 1440px) {
    width: 800px;
  }
}

.roles-assessment__video {
  width: 100%;
  max-width: 330px;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 768px) {
    max-width: 100%;
  }
  @media (min-width: 1200px) {
    width: 100%;
  }
  /* @media (max-width: 1140px) { */
    /* margin-left: -50px; */
  /* } */
}

/* stages grid */

.application-stages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.application-stages--desktop {
  visibility: hidden;
  height: 0;
  @media (min-width: 1140px) {
    visibility: visible;
    height: auto;
    gap: 16px;
  }
}
.application-stages--mobile {
  display: grid;
  gap: 8px;
  @media (min-width: 528px) {
    padding-top: 24px;
    margin-top: 1em;
  }
  @media (min-width: 768px) {
    padding-top: 24px;
    gap: 16px;
  }
  @media (min-width: 1140px) {
    display: none;
  }
}

.application-stages__stage {
  display: flex;
  align-items: center;
  padding: 12px 6px;
  background-color: #fff;
  border-radius: 5px;
  @media (min-width: 1340px) {
    padding: 16px;
  }
}

.application-stages__icon-container {
  width: 16px;
  height: 16px;

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.application-stages__title {
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  @media (min-width: 430px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
