.role-page {
  background-image: url("/images/role/rolePageBackground.svg");
  background-repeat-x: no-repeat;
  background-size: cover;
  /* background-position-x: right, right,
    clamp(40%, calc(40% + 22em), calc(110% + 6em));
  --spacingX: clamp(6em, calc(2em + 7vw), 10em);
  --bg: #eef7fd;
  --mediumFontSize: 1.25em; */

  /* @media (max-width: 768px) {
    background-size: contain;
  } */
}

.role-page .role-name {
  font-size: 3em;
  font-weight: 600;
}

.role-page .button-link {
  display: block;
  width: max-content;
  margin-top: 16px;
  @media (min-width: 768px) {
    margin-top: 80px;
  }
}

.role-page .main {
  /* background-image: url("/images/role/roleMainBackground.svg"); */
}

/* .role-page .header {
  width: 100%;
  padding: 0 var(--spacingX);
} */

/* .role-page .header .header-inner {
  margin: 0;
  padding: 0;
} */

/* .role-page .header .header__nav {
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(5px);
  border-radius: 0.2em;
  text-wrap: nowrap;
  margin-left: 2em;
} */

.role-page .banner {
  /* background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 70%,
      var(--bg) 100%
    ),
    linear-gradient(
      230deg,
      transparent 0%,
      transparent calc(100% - 50em),
      var(--bg) calc(100% - 35em),
      var(--bg) 100%
    ),
    url("/images/role/roleBannerBackground.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right, right,
    clamp(40%, calc(40% + 22em), calc(110% + 6em)); */
}

.role-page .banner__content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 18em 16px 15em;
  height: 100%;
  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (min-width: 1024px) {
    padding-left: 48px;
    padding-right: 48px;
  }
  @media (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.role-page .banner__content > * {
  width: fit-content;
  box-shadow: 0px 0px 25px 20px var(--bg);
  background-color: var(--bg);
  z-index: 99;
}

.role-page .banner__content p {
  line-height: 1.5em;
  font-size: var(--mediumFontSize);
  text-wrap: nowrap;
}

.role-page .banner__content p br.mobile {
  display: none;
}

.role-page .banner__content .button-link {
  display: block;
  width: max-content;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .role-page {
    --spacingX: clamp(2.2em, calc(1em + 5vw), 4em);
    --mediumFontSize: clamp(0.9em, 4.2vw, 1.5em);
  }

  .role-page .role-name {
    font-size: 24px;
  }
  .role-page .main .role-data li {
    line-height: 1.6em;
  }

  .role-page .button-link {
    margin-left: auto;
    margin-right: auto;
  }

  .role-page .banner {
    /* background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 55%,
        var(--bg) 70%,
        var(--bg) 100%
      ),
      url("/images/role/roleBannerBackgroundMobile.jpg");
    background-size: 100%;
    background-position: top -10vw left 0%;*/
  }

  .role-page .banner .header {
    margin-top: 5vw;
  }

  .role-page .banner__content {
    display: grid;
    justify-items: center;
    text-align: center;
    padding-bottom: 5em;
    padding-top: 35vw;
  }
  .role-page .banner__content p {
    font-size: 16px;
  }
  .role-page .banner__content > * {
    box-shadow: none;
    background-color: transparent;
  }

  .role-page .banner__content p br.desktop {
    display: none;
  }

  .role-page .banner__content p br.mobile {
    display: initial;
  }

  .role-page .banner__content .button-link {
    margin-top: 0.4em;
  }
}

.role-page {
  padding-bottom: 100px;
}

.role-page__cta {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (min-width: 1024px) {
    padding: 0 48px;
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}

.role-page .role-data {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (min-width: 1024px) {
    padding: 0 48px;
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}

.role-page .role-data h1,
h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.role-page .role-data ul {
  padding-left: 28px;
}

.role-page .role-data h1,
.role-page .role-data h2,
.role-page .role-data h3,
.role-page .role-data h4,
.role-page .role-data h5 {
  margin: 2em 0 1em 0;
}

.role-page .role-data li {
  list-style-type: disc;
  list-style-position: outside;
  line-height: 2em;
}

.role-page .role-data p {
  line-height: 1.5em;
}

.role-page .role-data th {
  text-align: left;
  padding-bottom: 12px;
}

.role-page .role-data th:last-child,
.role-page .role-data td:last-child {
  padding-left: 16px;
}

.role-page .role-data td {
  padding-bottom: 4px;
}

@media (max-width: 768px) {
  .role-page .role-data h1,
  h2 {
    font-size: 24px;
    text-align: center;
  }
}